.container {
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid var(--input-border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  user-select: none;
}

.checkbox > span {
  font-size: 1.3rem;
}
