.container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerContainer {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
}

.logo {
  margin-bottom: 20px;
}
