* {
  /* user-select: none; */
  font-family: sans-serif;
  font-size: 1rem;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  flex-grow: 1;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  gap: 5px;
  padding: 10px;
}

.topNav {
  flex-direction: row;
  align-items: center;
}

.bottomNav {
  flex-direction: column;
}

.bottomNavButtonGroup {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.feed {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  overflow-y: auto;
}

small {
  font-size: 0.8rem;
  font-weight: bold;
  color: #555;
}
