.container {
  box-sizing: border-box;
  border: 2px solid var(--modal-border-color);
  background-color: var(--modal-background-color);
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: absolute;
}

.container > * {
  border-bottom: 1px solid var(--context-menu-item-bottom-border-color);
}
