@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Dimensions */
  --ui-max-width-px: 1000px;

  /* Colors */
  color-scheme: light dark;

  --page-background-color: light-dark(white, black);

  --feed-message-background-color: light-dark(#eee, #1a1a1a);
  --feed-message-background-color-alt: light-dark(#ddd, #2a2a2a);

  --date-divider-color: light-dark(gray, #666);

  --feed-message-button-color: light-dark(gray, #666);

  --input-border-color: light-dark(gray, #666);
  --input-background-color: var(--page-background-color);

  --button-background-color: light-dark(white, black);
  --button-hovered-background-color: light-dark(lightgray, #333);

  /* Presets */
}

.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

* {
  font-family: Inter;
  font-size: 1rem;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  background-color: var(--page-background-color);
}

.maxwidth {
  align-self: center;
  width: 100%;
  max-width: var(--ui-max-width-px);
}

.basecontainer {
  padding: 10px;
  box-sizing: border-box;
}

.basebutton {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  height: 38px;
  /* background-color: var(--button-background-color); */
  box-sizing: border-box;
  padding: 0 6px;
  transition: background-color 100ms;
}

.basebutton:hover {
  background-color: var(--button-hovered-background-color);
}

.baseinput {
  height: 38px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid var(--input-border-color);
  background-color: var(--input-background-color);
  padding: 0px 8px;
}

small {
  font-size: 0.8rem;
  font-weight: bold;
}
