.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  flex-grow: 1;
}

.dateDivider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--date-divider-color);
  margin: 5px 0;
}

.dateDivider::before,
.dateDivider::after {
  content: "";
  flex: 1;
  max-width: 150px;
  height: 1px;
  background: var(--date-divider-color);
}

.feedMessage {
  display: flex;
  flex-direction: column;
}

.container > .feedMessage:nth-of-type(odd) {
  background-color: var(--feed-message-background-color);
}

.container > .feedMessage:nth-of-type(even) {
  background-color: var(--feed-message-background-color-alt);
}

.feedContent {
  padding: 10px;
  box-sizing: border-box;
  white-space: pre-wrap;
  text-wrap: all;
}

.feedMessageButton {
  padding-left: 10px;
  color: var(--feed-message-button-color);
  justify-content: flex-start;
}

.feedMessageButtonSeparator::before {
  content: "•";
}

.loadingSpace {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
}
